.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.create-account {
    margin-top: 15px;
    text-align: center;
}

.create-account p {
    font-size: 14px;
}

.create-account a {
    color: #4CAF50;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
